html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

* {
  box-sizing: border-box;
}

.blue {
  border: 2px solid blue;
}
.green {
  border: 4px solid green;
}
.red {
  border: 4px solid red;
}
