html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

select {
  border-color: transparent !important;
}

.h2 {
  font-family: "Source Sans Pro, sans-serif";
}

.h4 {
  font-family: "Work Sans, sans-serif";
}

.button_none-focus:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0) !important;
}

.category_product-hover:hover .category_product-hover-eye-show {
  opacity: 1;
}
.category_product-hover:hover .category_product-hover-image-show {
  display: block;
  z-index: 1;
  opacity: 1;
}
.category_product-hover:hover .category_product-hover-button-show {
  transform: translateY(-52px);
}

.blue {
  border: 2px solid blue;
}
.green {
  border: 4px solid green;
}
.red {
  border: 4px solid red;
}
